.container {
    position: relative;
    width: 8%;
  }
  
  .image {
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #04b4ee;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 70ms ease-in-out;
    
  }
  
  
  .container:hover .overlay {
    width: 325px;
    border-radius: 20px;
  }
  
  .text1 {
    white-space: nowrap; 
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
